




.container{
    border:4px dotted green;
    height:100%;
    width:100%;


}
    
.bigger-box{
    border:4px dotted green;
    height:100px;
    width:100%;
   

}

.box{
    border:4px dotted green;
    height:100px;
    width:100px;
    
}





 
 
    




