


* {
    box-sizing: border-box;
}

.container{
    border:4px solid green;
    padding:24px;
    display: flex;
    justify-content: space-around;
}

.box {
    width:300px;
    height:100px;
    border: solid black 1px;
    margin-bottom: 24px;
}

.bigger-box {
    border:solid black 1px;
    height:350px;
    width:50%;
}

.wrapper{
    width:50%;

   
}





 
 
    




