


* {
    box-sizing: border-box;
}

.container{
    border:4px solid green;
    padding:24px;
   
    
}

.row {
width:100%;
max-width: 600px;

}
    
.bigger-box{
    border:2px solid blue;
    height:24px;
    width:100%;
    margin-bottom:24px;
   

}

.box{
    border:2px solid green;
    height:100px;
    width:30%;
    margin-bottom: 24px;
    
    
}

.wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
   
}






 
 
    




