


* {
    box-sizing: border-box;
}

.container{
    border:4px solid green;
    padding:24px 24px 24px 24px;
    display: flex;
    justify-content: space-between;

}
.row{
    width:600px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.box{
   
    border:1px solid black;
    margin-bottom:24px;
}

.largebox{
    width:45%;
   
}
    
.wrapper {
    width:45%;
    display: flex;
    flex-direction:column;


}

.wrapper2 {
    display: flex;
    justify-content: space-between;
}

.boxtiny{
    width:30%;
    height:50px;
    
}

.box-small{
    height:24px;
    
}






 
 
    




