body{
	background-color:#f4f4f4;
	color: #555555;

	font-family: Arial, Helvetica, sans-serif;
	font-sizeL:20px;
	font-weight: normal;
	/*same as above*/
	font: normal 20px arial, helvetica,sans-serif;

	line-height: 1.7em;          /*space between lines*/
	margin: 0;
}

.container{
	width: 500px;
}

.box-1{
	background-color: rgb(0, 0, 0);
	color: #fff;
}